@model timesheetapps.Models.UserClass

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create";
    ViewData["Active"] = "Users";
}

@*Redirect to Login page after Logout*@
@if (HttpContextAccessor.HttpContext.Session.GetString("Logout") == "1")
{
    <script type="text/javascript">
        window.location.href = "@Url.Action("Index","Login")";
    </script>
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group  col-md-2">
        </div>
        <div class="form-group  col-md-8">
            <div class="card">
                <div class="card-header row p-0 m-0">
                    <h5 class="card-title">Create User</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label asp-for="FirstName" class="control-label required"> First Name </label>
                            <label class="control-label font-weight-bolder" style="color:red"> * </label>
                            <input asp-for="FirstName" class="form-control" onblur="this.value=this.value.trim();" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-5">
                            <label asp-for="LastName" class="control-label required"> Last Name </label>
                            <label class="control-label font-weight-bolder" style="color:red"> * </label>
                            <input asp-for="LastName" class="form-control" onblur="this.value=this.value.trim();" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="RoleID" class="control-label">Role Name</label>
                            <select asp-for="RoleID" class="form-control" asp-items="@(new SelectList(@ViewBag.RoleList, "RoleID", "RoleName"))">
                            </select>
                            <span asp-validation-for="RoleID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label asp-for="EmailAddress" class="control-label required"> Email Address </label>
                            <label class="control-label font-weight-bolder" style="color:red"> * </label>
                            <input asp-for="EmailAddress" class="form-control" onblur="this.value=this.value.trim();" />
                            <span class="text-danger" asp-validation-for="EmailAddress"></span>
                        </div>
                        <div class="form-group col-md-5">
                            <label asp-for="Password" class="control-label required"> Password </label>
                            <label class="control-label font-weight-bolder" style="color:red"> * </label>
                            <input asp-for="Password" class="form-control" onblur="this.value=this.value.trim();" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer row p-0 m-0">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Submit" class="btn btn-info form-control text-white" />
                    </div>
                    <div class="col-md-2">
                        <a asp-action="Index" class="btn btn-info form-control text-white"><i class="fa fa-table"></i> Back to Users</a>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group  col-md-2">
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*@if (!string.IsNullOrEmpty(ViewBag.SuccessMsg))
    {
        <script type="text/javascript">
            alert("@ViewBag.SuccessMsg");
        </script>
    }*@