@{
    ViewData["Title"] = "Contact";
}

<style>
        body {
            background-image: url('@Url.Content("~/Background.png")');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    footer {
        background-color: white;
    }
</style>

<br />
<div class="form-row">
    <div class="form-group  col-md-4">
    </div>
    <div class="form-group  col-md-4">
        <div class="card">
            <div class="card-header container row p-0 m-0" style="justify-content: center;">
                <h4>Contact us</h4>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <p>
                        <span>
                            <strong>Email: support@timesheetapps.com.au</strong>
                        </span>
                    </p>
                </div>
                <div class="form-row">
                    <p>
                        <span>
                            <strong>Phone: 1300 207 208</strong>
                        </span>
                    </p>
                </div>
                <div class="form-row">
                    <p>
                        <span>
                            <strong>Corporate Office:</strong>
                        </span><br><span>Suite 19, </span><br><span>103 George Street, </span><br>
                        <span>Parramatta,</span><br>
                        <span>NSW 2150</span>
                    </p>
                </div>
            </div>
            <div class="card-footer container row p-0 m-0">
            </div>
        </div>
    </div>
    <div class="form-group  col-md-4">
    </div>
</div>